body{
    background-image: url("../img/cyberwall1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Map {min-width:100%;
    height: auto;
    min-width:100px;
    border-top-left-radius: 20%;
    border-bottom-right-radius:20% ;
}

#titel {
    background-image: url("../img/cyberwall1.jpg");
    text-size-adjust: +40px;
}
.accordion-item,
.accordion-button {
  background-color: rgb(253, 208, 112);
  border-color: black;
  background-origin: padding-box;
}
.accordion-button:not(.collapsed) {
    background-color: rgb(247, 134, 6);
    border-color: black;
    background-origin: padding-box;
  }
  #nav{
    background-color: rgb(247, 134, 6);
    border-color: black;
    background-origin: padding-box;
  }
  .footer{
    background-color: rgb(247, 134, 6);
    border-color: black;
    background-origin: padding-box;
    width:100;
  }
  .eins {
    background-image: url("../img/html5-logo.png ");
  }
  .drei{  background-color: rgb(247, 78, 6);
    border-color: black;
    background-origin: padding-box;
    border-top-left-radius: 20%;
    border-bottom-right-radius:20% ;
  }
  
